label {
    margin-right: 50px;
}

li {
    margin-top: 5px;
    list-style: none;
}

ul {
    width: 300px
}

table {
    font: 14px/1.25 "Helvetica Neue",helvetica,arial,sans-serif;
    border-collapse: collapse;
}

th {
    border: 1px solid #dddddd;
    text-align: left;
    background: #dddddd;
    padding: 4px 3px;
}

td {
    border: 1px solid #dddddd;
    text-align: right;
    padding: 4px 3px;
}