body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin: 0px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #1F2937;
    padding: 50px;
    color: white;
}

button {
    background-color: white;
    color: #1F2937;
    font-weight: bold;
}

option, select {
    font-weight: bold;
}

#city-name {
    font-size: 50px;
    font-weight: bold;
}

label {
    margin-right: 50px;
}

li {
    margin-top: 5px;
    list-style: none;
    color: #1F2937;
}

ul {
    width: 300px
}

table {
    font: 14px/1.25 "Helvetica Neue",helvetica,arial,sans-serif;
    border-collapse: collapse;
    color: #1F2937;
    background-color: white;
}

th {
    border: 1px solid #1F2937;
    text-align: left;
    background: #1F2937;
    padding: 4px 3px;
    color: white;
}

td {
    border: 1px solid #1F2937;
    text-align: left;
    padding: 4px 3px;
    color: #1F2937;
}
